<div class="container">
<div class="row">
  <div class="span3">
    <h3>mavenize</h3>
    <ul class="unstyled">
      <li><a href="#">privacy policy</a></li>
      <li><a href="#">terms of service</a></li>
      <li><a href="#">faq</a></li>
      <li><a href="#">contact us</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>community</h3>
    <ul class="unstyled">
      <li><a href="#">guidelines</a></li>
      <li><a href="#">becoming a maven</a></li>
      <li><a href="#">get involved</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>about</h3>
    <ul class="unstyled">
      <li><a href="#">about us</a></li>
      <li><a href="#">join our team</a></li>
      <li><a href="#">partners</a></li>
      <li><a href="#">investors</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>follow us</h3>
    <div id="social-links">
      <a href="http://twitter.com/#!/MavenizeMe">twitter</a>
    </div>
  </div>
</div>
</div>

<div id="footer-floor">
  <div class="container">
  <div class="row">
    <div class="span12">
      <p class="pull-right">
        &copy; 2012 <a href="/">mavenize</a>. all rights reserved.
      </p>
    </div>
  </div>
  </div>
</div>

