/* Header */
header .brand {
  font-size: 22px;
}

/* Footer */
footer {
  background: #252525;
  border-top: 1px solid #1b1b1b;
  padding-top: 10px;
}

footer .container {
  padding: 10px 0;
}

footer h3 {
  color: #999;
}

footer a, footer a:hover, footer a:active {
  color: white;
  font-size: 15px;
}

footer #footer-floor {
  background: #1b1b1b;
}

footer #footer-floor p, footer #footer-floor a {
  font-size: 13px;
}

footer #footer-floor{
  background: #1b1b1b;
}

footer #footer-floor p {
  color: #8f8f8f;
}
