/* Body Background */
#body {
  background: url('../img/background.jpg') 0 0 repeat-x;
}

/* Item Profiles */

h1.title {
  color: white;
  height: 100px;
  padding-top: 20px;
}

.profile {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.profile h3 {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}

/* Footer */
footer {
  background: #252525;
  border-top: 1px solid #1b1b1b;
  padding-top: 10px;
}

footer .container {
  padding: 10px 0;
}

footer h3 {
  color: #999;
}

footer a, footer a:hover, footer a:active {
  color: white;
  font-size: 15px;
}

footer #footer-floor {
  background: #1b1b1b;
}

footer #footer-floor p, footer #footer-floor a {
  font-size: 13px;
}

footer #footer-floor{
  background: #1b1b1b;
}

footer #footer-floor p {
  color: #8f8f8f;
}
