/*******************************
  OPERATIONS & COLOR FUNCTIONS
*******************************/

/*********
  STYLES
*********/

#main {
  .user-box {
    background: @contrastFill; 
    float: left;
    height: 120px;
    margin: 10px;
    position: relative;
    width: 328px;

    .Border();

    button {
      bottom: 10px;
      position: absolute;
      width: 120px;
    }

    .user-content {
      left: 125px;
      height: 100px;
      margin-top: -50px;
      position: absolute;
      top: 50%;

      .user-name {
        font-size: 15px;
      }
    }
  }
}
