/*********
  COLORS
*********/


@black: #000;
@white: #fff;
@nearWhite: #8f8f8f;
@gray: #252525;
@darkGray: #1b1b1b;
@lightGray: #999;
@lightBlue: #08c;
@whiteSmoke: #f5f5f5;

@spool: #e5e5e5;
@leaflet: #f5f5f5;
@grey: #333;

/********
  FONTS
********/

@openSans: 'Open Sans';
@didactGothic: 'Didact Gothic';

@headingFont: @didactGothic;
@profileFont: @openSans;
@textFont: @openSans;
@textColor: @grey;
