{% extends "base.html" %}

{% block title %}
  Mavenize | {{ movie.title }}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div id="main" class="span9">
      <section id="title-header">
        <h1 id="title">
          {{ movie.title }} ({{ movie.theater_date|date:"Y" }})
        </h1>
        <h4 id="genre">
          {{ genre|join:", " }}
        </h4>
      </section>
      <section id="description">
        <p id="synopsis">
          {{ movie.synopsis|slice:":180" }}...
          <a href="#">more</a>
        </p>
        <p id="actors">
          Actors: {{ actors|join:", "}}
        </p>
        <p id="directors">
          Director{{ directors|pluralize }}: {{ directors|join:", " }}
        </p>
      </section>
      <section id="review-form">
        <form class="form-horizontal" action="/" method="POST">
          {% csrf_token %}
          <input id="review-text" type="text" placeholder="Tell us what you thought..."/>
          <button id="review-submit" class="btn btn-large btn-primary" type="submit" name="submit">
            Rave
          </button>
        </form>
      </section>
      <section id="reviews">
        <div id="my-reviews" class="module-container">
        {% if my_reviews %}
          <h3 class="heading">Chosen by Yours Truly</h3>
          <ul class="unstyled">
          {% for review in my_reviews %}
            {% include "movie_review.html" %}
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div id="friend-reviews" class="review-container">
        {% if friend_reviews %}
          <h3 class="heading">From the Hearts of Your Confidants</h3>
          <ul class="unstyled">
          {% for review in friend_reviews %}
            {% include "movie_review.html" %}
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div id="friend-agrees" class="review-container">
        {% if friend_agrees %}
          <h3 class="heading">
            Handpicked by Those You Trust
          </h3>
          <ul class="unstyled">
          {% for agree in friend_agrees %}
            {% include "movie_agree.html" %}
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div id="global-reviews" class="review-container">
        {% if global_reviews %}
          <h3 class="heading">
            The Rest of the Best
          </h3>
          <ul class="unstyled">
          {% for review in global_reviews %}
            {% include "movie_review.html" %}
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      </section>
    </div>
    <div id="sidebar" class="span3">
      <div class="thumbnail">
        <img src="{{ movie.image.url }}" />
      </div>
      <div id="chart-wrapper" class="module-container border">
        <div id="rating-chart">
          <h3 class="heading">Ratings</h3>
          <table id="rating-table" class="table table-striped">
          <thead>
            <tr>
              <td>&nbsp;</td>
              <th scope="col">four</th>
              <th scope="col">three</th>
              <th scope="col">two</th>
              <th scope="col">one</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Rating</th>
              <td>{{ movie.item.four_star }}</td>
              <td>{{ movie.item.three_star }}</td>
              <td>{{ movie.item.two_star }}</td>
              <td>{{ movie.item.one_star }}</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      <div id="friend-bookmarks" class="module-container border">
        <h3 class="heading">Watch It!</h3>
        <ul id="bookmarks">
          {% for bookmark in friend_bookmarks %}
            <div class="user">
            <img src="{{ bookmark.user.userprofile.thumbnail.url }}" />
            <span class="user-name">
              <a href="#">{{ bookmark.user.get_full_name }}</a>
            </span>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/ratingGraph.js"></script>
{% endblock %}
