<li class="activity" value="{{ activity.object_id }}">
  <div class="user-avatar pull-left">
    {% load thumbnail %}
    {% thumbnail activity.sender.userprofile.avatar "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    {% endthumbnail %}
    <img src="{{ STATIC_URL }}img/{{ activity.target_object.rating }}l.png" />
  </div>
  <div class="item-thumbnail pull-right">
    <a class="thumbnail span2" href="{% url movie.views.profile activity.target_object.item.movie.url %}">
      <img src="{{ activity.target_object.item.movie.image.url }}" />
    </a>
  </div>
  <div class="review-context">
    <a href="#">{{ activity.sender.get_full_name }}</a>
    {{ activity.verb }}
    {% if activity.sender.id != activity.target_object.user.id %}
      <a href="#">{{ activity.target_object.user.get_full_name }}'s</a>
       rave about 
    {% endif %}
    <a href="{% url movie.views.profile activity.target_object.item.movie.url %}">{{ activity.target_object.item.movie.title }}</a>.
  </div>
  <div class="activity-text">
    {{ activity.target_object.text }}
  </div>
  <div class="activity-meta">
    <div class="pull-left">
      {{ activity.target_object.created_at|timesince }} ago
    </div>
    <div class="pull-right">
      <a data-toggle="modal" href="#re-rave">re-rave</a> &#8226;
      <a data-toggle="modal" href="#disagree">disagree</a> &#8226;
      <a data-toggle="modal" href="#thank">thank {{ activity.target_object.user.first_name|lower }}</a>
    </div>
    <div style="clear: both;"></div>
  </div>
</li>
