body { padding-top:40px; }
ul { list-style-type:none; margin-left:8px} 
.thumbnail { border:none; }
html,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend
{ margin:0; padding:0; border:0; outline:0;
  font-family: 'Didact Gothic', arial; font-size: 16px;
  font-weight:normal; font-style:normal; vertical-align: baseline; }
h3 { font-size: 24px; }
::-webkit-input-placeholder
{ font-size: 14px; font-family: 'Didact Gothic', arial; }
/* not working */
input:-moz-placeholder 
{ font-size: 14px; font-family: 'Didact Gothic', arial; }
