<form class="form-horizontal" action="review/" method="POST">
  {% csrf_token %}
  {{ form.text }}
  <div id="review-rating" class="btn-group" data-toggle="buttons-radio">
    <button class="btn" type="button" name="rating" value="1">
      <img src="{{ STATIC_URL }}img/1s.png" />
    </button>
    <button class="btn" type="button" name="rating" value="2">
      <img src="{{ STATIC_URL }}img/2s.png" />
    </button>
    <button class="btn" type="button" name="rating" value="3">
      <img src="{{ STATIC_URL }}img/3s.png" />
    </button>
    <button class="btn" type="button" name="rating" value="4">
      <img src="{{ STATIC_URL }}img/4s.png" />
    </button>
  </div>
  <button id="review-submit" class="btn btn-large btn-primary disabled" type="submit" name="rating" value="0" disabled="true">
    Rave
  </button>
  <div style="clear: both;"></div>
</form>
