<div class="container">
<div class="row">
  <div class="span3">
    <h3>Mavenize</h3>
    <ul class="unstyled">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>Community</h3>
    <ul class="unstyled">
      <li><a href="#">Guidelines</a></li>
      <li><a href="#">Becoming a Maven</a></li>
      <li><a href="#">Get Involved</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>About</h3>
    <ul class="unstyled">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Join our Team</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Investors</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>Follow Us</h3>
    <div id="social-links">
      <a href="http://twitter.com/#!/MavenizeMe">Twitter</a>
    </div>
  </div>
</div>
</div>

<div id="footer-floor">
  <div class="container">
  <div class="row">
    <div class="span12">
      <p class="pull-right">&copy; 2012 <a href="/">Mavenize</a>. All rights reserved.</p>
    </div>
  </div>
</div>
</div>
