<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">mavenize</a>
      <ul class="nav">
        <li><a href="/movies/">movies</a></li>
        <!--
        <li><a href="#">music</a></li>
        <li><a href="#">restaurants</a></li>
        <li><a href="#">nightlife</a></li>
        -->
      </ul>
      <ul class="nav pull-right">
        <li><a href="#">profile</a></li>
        <li><a href="#">notifications</a></li>
        <li><a href="#">bookmarks</a></li>
      </ul>
      <form class="navbar-search pull-right" action="/movies/search/" method="GET">
        <input type="text" id="id_q" class="search-query" name="q" placeholder="search by title or synopsis...">
      </form>
    </div>
  </div>
</div>
