{% extends "base.html" %}

{% block title %}
  Mavenize | Welcome {{ name }}
{% endblock %}

{% block body %}
  {% load review_checks %}
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1 class="title">Welcome Back {{ user.first_name }}!</h1>
        <ul class="nav nav-tabs stream-options">
          <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
          <li><a href="#popular" data-toggle="tab">Popular</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="recent">
            <div class="stream-header gradient">Raves from Your Friends</div>
            <ul>
              {% for review, movie in friend_reviews.items %}
              <li class="review">
                  <div class="pull-left">
                    <img src="{{ MEDIA_URL }}img/users/{{ review.user_id }}.jpg" />
                  </div>
                  <div class="span1 pull-right">
                    <img src="{{ MEDIA_URL }}{{ movie.image }}" />
                  </div>
                  <div class="review-content">
                    <a href="/users/{{ review.user_id }}">{{ review.user.get_full_name }}</a> raved about <a href="/movies/{{ movie.url }}">{{ movie.title }}</a>.
                    <blockquote>
                      {{ review.text }}
                    </blockquote>
                    <ul>
                      {% if not user.id|has_thanked:review %}
                      <li><a class="thank" href="/thank/{{ review.review_id}}">thank {{ review.user.first_name|lower }}</a> |</li>
                      {% endif %}
                      <li><span>{{ review.up_votes }}</span> thanks |</li>
                      <li>{{ review.created_at|timesince }} ago</li>
                    </ul>
                  </div>
              </li>
              {% endfor %}
            </ul>
            <div class="stream-header gradient">Raves from Everyone</div>
            <ul>
              {% for review, movie in global_reviews.items %}
              <li class="review">
                <div class="pull-left">
                  <img src="{{ MEDIA_URL }}img/users/{{ review.user_id }}.jpg" />
                </div>
                <div class="span1 pull-right">
                  <img src="{{ MEDIA_URL }}{{ movie.image }}" />
                </div>
                <div class="review-content">
                  <a href="/users/{{ review.user_id }}">{{ review.user.get_full_name }}</a> raved about <a href="/movies/{{ movie.url }}">{{ movie.title }}</a>.
                  <blockquote>
                    {{ review.text }}
                  </blockquote>
                  <ul>
                    {% if not user.id|has_thanked:review %}
                    <li><a class="thank" href="/thank/{{ review.review_id}}">thank {{ review.user.first_name|lower }}</a> |</li>
                    {% endif %}
                    <li> <span>{{ review.up_votes }}</span> thanks |</li>
                    <li>{{ review.created_at|timesince }} ago</li>
                  </ul>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="tab-pane" id="popular">
          </div>
        </div>
      </div>
      <div class="span3">
        <ul class="thumbnails top-right">
          {% for movie in popular_movies %}
          <li>
            <a class="thumbnail" href="/movies/{{ movie.url }}">
              <img src="{{ MEDIA_URL }}{{ movie.image }}" />
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
