{% extends "base.html" %}

{% block title %}
  Mavenize | Welcome {{ name }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1 class="title">Welcome Back {{ user.first_name }}!</h1>
        <!--
        <ul class="nav nav-tabs stream-options">
          <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
          <li><a href="#popular" data-toggle="tab">Popular</a></li>
        </ul>
        -->
        <div class="tab-content">
          <div class="tab-pane active" id="recent">
            <div class="stream-header gradient">Raves from Your Friends</div>
              <ul>
                {% include "partials/friend_review.html" %}
                <div id="load-friend"></div>
              </ul>

            {% if global_reviews %}
            <div class="stream-header gradient">Raves from Everyone</div>
              <ul>
                {% include "partials/global_review.html" %}
                <div id="load-global"></div>
              </ul>
            {% endif %}
            <div id="load-more">
              Load More
            </div>
          </div>
          <!--
          <div class="tab-pane" id="popular">
            <p>This feature is still in development.</p>
          </div>
          -->
        </div>
      </div>
      <div class="span3">
        <ul class="thumbnails top-right">
          {% for movie in popular_movies %}
          <li>
            <a class="thumbnail" href="/movies/{{ movie.url }}">
              <img src="{{ MEDIA_URL }}{{ movie.image }}" />
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(window).load(function() {
      var page = 2

      // Load more button for feeds
      $('#load-more').click(function() {
        $(this).text('Loading...');
        $.get('/load/friend/' + page + '/', function(data) {
          if (data.length != 1)
            $('#load-friend').append(data);
          else
            $.get('/load/global/' + page + '/', function(data) {
              if (data.length != 1)
                $('#load-global').append(data);
            });
          $('#load-more').text('Load More');
        });
        page += 1;
        return false;
      });
    })
  </script>
{% endblock %}
