{% extends "base.html" %}

{% block title %}
	Mavenize | Welcome {{ name }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9">
				<ul id="stream-options">
					<li><a href="#">Recent</a></li>
					<li>|</li>
					<li><a href="#">Popular</a></li>
				</ul>
				<div class="stream-header gradient">Raves from Your Friends</div>
				<ul>
					<li class="review">
							<div class="pull-left">
								<img src="/media/img/users/profile.jpg" />
							</div>
							<div class="span1 pull-right">
								<img src="/media/img/landing/hunger-games.jpg" />
							</div>
							<div class="review-content">
								<a href="#">Dennis Ai</a> reviewed <a href="#">Hunger Games</a>.
								<blockquote>
									Wow, this movie was amazing.  Not quite as good as the book, but almost as good.
								</blockquote>
								<ul>
									<li>1 day ago</li>
									<li>4 thanks</li>
								</ul>
							</div>
					</li>
				</ul>
				<div class="stream-header gradient">Raves from Everyone</div>
				<ul>
					<li class="review">
							<div class="pull-left">
								<img src="/media/img/users/profile.jpg" />
							</div>
							<div class="span1 pull-right">
								<img src="/media/img/landing/hunger-games.jpg" />
							</div>
							<div class="review-content">
								<a href="#">Dennis Ai</a> reviewed <a href="#">Hunger Games</a>.
								<blockquote>
									You know, there are two kinds of good movies.  Batman was a good movie that had meaning.  You could feel the emotion wiping off from the tears of the characters.  In this movie, Katniss is absolutely lifeless.  Lifeless.
								</blockquote>
								<ul>
									<li>4 day ago</li>
									<li>2 thanks</li>
								</ul>
							</div>
						</li>
					</ul>
			</div>
			<div class="span3">
				<h2>Hot This Week</h2>
				<ul class="thumbnails">
					<li>
						<div class="thumbnail">
							<img src="/media/img/landing/hunger-games.jpg" />
						</div>
					</li>
					<li>
						<div class="thumbnail">
							<img src="/media/img/landing/drive.jpg" />
						</div>
					</li>
					<li>
						<div class="thumbnail">
							<img src="/media/img/landing/in-time.jpg" />
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
