<div class="container">
<div class="row">
  <div class="span3">
    <h3>Mavenize</h3>
    <ul class="unstyled">
      <li><a href="#">Feedback</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>Community</h3>
    <ul class="unstyled">
      <li><a href="#">Guidelines</a></li>
      <li><a href="#">Reputation Points</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>About</h3>
    <ul class="unstyled">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Investors</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h6 class="pull-right">Copyright 2012 &copy; <strong>Mavenize</strong>.  All rights reserved.</h6>
  </div>
</div>
</div>
