{% extends "base.html" %}

{% block title %}
  Mavenize | {{ name }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1>Dennis Ai</h1>
        <h2>Movies Dennis Likes</h2>
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <img src="/media/img/landing/hunger-games.jpg" />
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="/media/img/landing/drive.jpg" />
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="/media/img/landing/in-time.jpg" />
            </div>
          </li>
        </ul>
        <h2>Movies Dennis Dislikes</h2>
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="/media/img/landing/hunger-games.jpg" />
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/media/img/landing/drive.jpg" />
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/media/img/landing/in-time.jpg" />
          </div>
        </li>
      </ul>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="/media/img/users/profile-large.jpg" />
        </div>
        <div class="btn-success btn-large" id="follow">
          Follow
        </div>
        <div class="profile mini-thumbnails">
          <h3>Following</h3>
          <ul class="thumbnails">
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
          </ul>
          <a href="#">See More</a>
        </div>
        <div class="profile mini-thumbnails">
          <h3>Followers</h3>
          <ul class="thumbnails">
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
            <li class="span1">
              <div class="thumbnail">
                <img src="/media/img/users/profile.jpg" />
              </div>
            </li>
          </ul>
          <a href="#">See More</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
