{% extends "base.html" %}

{% block title %}
  Mavenize | {{ genre.name }} 
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ genre.name }}</h1>
        <!--
        <ul class="nav nav-tabs stream-options">
          <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
          <li><a href="#popular" data-toggle="tab">Popular</a></li>
          <li><a href="#latest" data-toggle="tab">Latest</a></li>
        </ul>
        -->
        <div class="tab-content">
          <div class="tab-pane active" id="recent">
            <ul id="search-results">
              {% include "partials/movie_results.html" %}
            <div class="load-movie"></div>
            </ul>
            <div class="load-more">
              Load More
            </div>
          </div>
          <!--
          <div class="tab-pane" id="popular">
          </div>
          <div class="tab-pane" id="latest">
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(window).load(function() {
      var page = 2
      
      // Load more button for genres
      $('.load-more').click(function() {
        $(this).text('Loading...');
        $.ajax({
          url: '/load/genre/{{ genre.url }}' + '/' + page + '/',
          type: 'GET',
          dataType: 'HTML',
          success: function(data, textStatus, jqXHR) {
            $('.load-movie').append(data);
            $('.load-more').text('Load More');
          },
          statusCode: {
            200: function () { page += 1; },
            204: function () { $('.load-more').remove(); }
          }
        });
      });
    })
  </script> 
{% endblock %}
