{% extends "base.html" %}

{% block title %}
	Mavenize | Where Mavens are Made
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Welcome to Mavenize.</h1>
				<h3>Let's get you started with Facebook or Twitter.</h3>
				<a href="{% url socialauth_begin 'facebook' %}">
					<img src="/media/img/facebook-connect.png" alt="Facebook Connect" />
				</a>
			</div>
		</div>
		<ul class="thumbnails">
			<li class="span6">
				<div class="thumbnail">
					<img src="/media/img/landing/avengers.jpg" alt="Avengers" />
				</div>
			</li>
			<li class="span6">
				<div class="thumbnail">
					<img src="/media/img/landing/hunger-games.jpg" alt="Hunger Games" />
				</div>
			</li>
			<li class="span6">
				<div class="thumbnail">
					<img src="/media/img/landing/the-expendables.jpg" alt="The Expendables" />
				</div>
			</li>
			<li class="span6">
				<div class="thumbnail">
					<img src="/media/img/landing/dark-knight-rises.jpg" alt="Dark Knight Rises" />
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
