{% extends "base.html" %}

{% block title %}
	Mavenize | {{ movie.title }} 
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9">
				<section id="title">
					<h1>{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h1>
				</section>
				<section id="review-form">
					<h3>Watched it?  Rave about it to your friends.</h3>
					<form class="form-horizontal">
						<textarea id="review-text" name="review"></textarea>
						<div class="btn-toolbar">
							<div class="btn-group">
								<a class="btn-large btn-success" href="#">Loved It</a>
								<a class="btn-large btn-danger" href="#">Hated It</a>
							</div>
							<input class="btn-large btn-primary" id="rave-submit" type="submit" name="submit" value="Rave" />
						</div>
					</form>
				</section>
				<section id="top-reviews">
					<h2>Top Raves</h2>
					<ul>
						{% for review in reviews %}
						<li class="review">
							<div class="pull-left">
								<img src="/media/img/users/profile.jpg" />
							</div>
							<div class="review-content">
								<a href="#">{{ review.user.get_full_name }}</a>
								<blockquote>
									{{ review.text }}
								</blockquote>
								<ul>
									<li>{{ review.created_at|timesince }} ago</li>
									<li>4 thanks</li>
								</ul>
							</div>
						</li>
						{% endfor %}
					</ul>
				</section>
			</div>
			<div class="span3">
				<div class="thumbnail">
					<img src="{{ movie.image.url }}" />
				</div>
				<div class="profile" id="rating-box">
					<div id="rating">89%</div>
					<div id="votes">({{ reviews.count }} votes)</div>
				</div>
				<div class="profile">
					<h3>Synopsis</h3>
					<p>
						{{ movie.synopsis }}
					</p>
				</div>
				<div class="profile">
					<h3>Cast & Directors</h3>
						<h4>Actors</h4>
							{{ movie.cast }}
						<h4>Directors</h4>
							{{ movie.directors }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
