{% extends "base.html" %}

{% block title %}
	Mavenize | Search Results
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>Search Results</h2>
				<ul id="search-results">
					<li class="row">
						<div class="span3">
							<a class="thumbnail" href="#">
								<img src="/media/img/landing/hunger-games.jpg" />
							</a>
						</div>
						<div class="span8">
							<a href="#"><h3>The Hunger Games (2012)</h3></a>
							<ul>
							<li class="review">
								<div class="pull-left">
									<img src="/media/img/users/profile.jpg" />
								</div>
								<div class="review-content">
									<a href="#">Dennis Ai</a>
									<blockquote>
										You know, there are two kinds of good movies.  Batman was a good movie that had meaning.  You could feel the emotion wiping off from the tears of the characters.  In this movie, Katniss is absolutely lifeless.  Lifeless.
									</blockquote>
									<ul>
										<li>1 week ago</li>
										<li>0 thanks</li>
									</ul>
								</div>
							</li>

							<li class="review">
								<div class="pull-left">
									<img src="/media/img/users/profile.jpg" />
								</div>
								<div class="review-content">
									<a href="#">Dennis Ai</a>
									<blockquote>
										Really???  That's the best they could come up with?  The most anticipated movie of 2012 and wow, what a major disappointment.
									</blockquote>
									<ul>
										<li>1 week ago</li>
										<li>1 thanks</li>
									</ul>
								</div>
							</li>
						</div>
					</li>

					<li class="row">
						<div class="span3">
							<a class="thumbnail" href="#">
								<img src="/media/img/landing/drive.jpg" />
							</a>
						</div>
						<div class="span8">
							<a href="#"><h3>Drive (2011)</h3></a>
							<ul>
							<li class="review">
								<div class="pull-left">
									<img src="/media/img/users/profile.jpg" />
								</div>
								<div class="review-content">
									<a href="#">Dennis Ai</a>
									<blockquote>
										You know, there are two kinds of good movies.  Batman was a good movie that had meaning.  You could feel the emotion wiping off from the tears of the characters.  In this movie, Katniss is absolutely lifeless.  Lifeless.
									</blockquote>
									<ul>
										<li>1 week ago</li>
										<li>0 thanks</li>
									</ul>
								</div>
							</li>

							<li class="review">
								<div class="pull-left">
									<img src="/media/img/users/profile.jpg" />
								</div>
								<div class="review-content">
									<a href="#">Dennis Ai</a>
									<blockquote>
										Really???  That's the best they could come up with?  The most anticipated movie of 2012 and wow, what a major disappointment.
									</blockquote>
									<ul>
										<li>1 week ago</li>
										<li>1 thanks</li>
									</ul>
								</div>
							</li>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

